In [61]:
#count no of digits in the string and sum
s=input()
i=0
count=0
su=0
while i<len(s):
    if s[i].isdigit():
        count=count+1
        su=su+int(s[i])
    i=i+1
print("Count:",count,"sum:",su)

2345678
Count: 7 sum: 35

In [4]:
#for loop
#1.using range()
#2.using iterable object
n=int(input("enter a number"))
for i in range(1,n+1,2):
    print(i,end=" ")

enter a number9
1 3 5 7 9

In [ ]:
#input:python
#output: p y t h o n
s=input()
i=0
while i<len(s):
    print(s[i],end=" ")
    i=i+1
print()
for i in range(0,len(s)):
    print(s[i],end=" ")
print()
for i in s:
    print(i,end=" ")

## collection type Data type:
## list
1. for creating a list use[]
2. lists are mutable
3. lists are indexed
4. lists are ordered
5. list allows duplicate values
6. it stores heterogenous values

In [19]:
list1=[23,34,456,56,67,"string",True,[40,57]]
print(list1[-1])
print(list1[2:4])
print(list1[2])
print(list1[-1][1])

[40, 57]
[456, 56]
456
57

In [20]:
#manipulating a list
#1.Adding elements
list1=[34,45,56,67]
print("before adding elements:",list1)
list1.append(100)
list1.append(200)
list1.append(300)
print("After adding elements:",list1)

before adding elements: [34, 45, 56, 67]
After adding elements: [34, 45, 56, 67, 100, 200, 300]

In [21]:
list1.insert(1,400)
list1

[34, 400, 45, 56, 67, 100, 200, 300]

In [22]:
list1.extend([1,2,3])
list1

[34, 400, 45, 56, 67, 100, 200, 300, 1, 2, 3]

In [32]:
#Removing elements from the list-pop(),remove(),clear()
#list1.pop(3)
#list1.remove(34)
list1.clear()
list1

[]

In [34]:

list1=[34,45,56,67]
list1.append(100)
list1.append(200)
list1.append(300)
list1

[34, 45, 56, 67, 100, 200, 300]

In [35]:
#replacing an element
list1[5]=1000
list1

[34, 45, 56, 67, 100, 1000, 300]

In [38]:
#sorting a list
list1.sort()
list1

[34, 45, 56, 67, 100, 300, 1000]

In [39]:
#reversing a list
list1.reverse()
list1

[1000, 300, 100, 67, 56, 45, 34]

In [40]:
#finding index
list1.index(100)

2

In [41]:
#counting the occurence of a number
list1.count(67)

1

In [44]:
#assigning values to another list
list1.append("python")
list2=list1
print(list1," ",list2)

[1000, 300, 100, 67, 56, 45, 34, 'python']   [1000, 300, 100, 67, 56, 45, 34, 'python']

In [45]:
#using copy
list3=list1.copy()
list3

[1000, 300, 100, 67, 56, 45, 34, 'python']

In [46]:
l1=[1,2,3]
l2=l1
print(l2)

[1, 2, 3]

In [47]:
l3=l1.copy()
l3

[1, 2, 3]

In [48]:
print(l1,l2,l3)
l1.append(100)
print(l1,l2,l3)

[1, 2, 3] [1, 2, 3] [1, 2, 3]
[1, 2, 3, 100] [1, 2, 3, 100] [1, 2, 3]

In [54]:
#input:[2,4,5,7,8]
#output:[4,16,25,49,64]
l4=[2,4,5,7,8]
l5=[]
l6=[]
for i in range(0,len(l4)):
    l5.append(l4[i]**2)
print(l5)
for i in l4:
    l6.append(i**2)
print(l6)

[4, 16, 25, 49, 64]
[4, 16, 25, 49, 64]

In [55]:
#print even no.s of the list
l1=[1,2,3,4,5,6]
for i in l1:
    if(i%2==0):
        print(i)

2
4
6

In [2]:
#create a list and accept the values of the list at run time and print the sum 
l1=[]
n=int(input())
s=0
for i in range(0,n):
    l1.append(int(input()))

a=(sum(l1))  
print(a)
l1

6
6
7
8
9
6
8
44

[6, 7, 8, 9, 6, 8]

## Tuple:
1. tuples are immutable

In [3]:
x=23,34,45,67,78
print(x)
print(type(x))

(23, 34, 45, 67, 78)
<class 'tuple'>

In [4]:
tup1=(23,34,5)
x,y,z=tup1
print(x,y,z)

23 34 5

### Dictionary:
#### syntax : {key1:value1,key2:value2,....}
#### key:
1. key should be unique
2. key should be immutable-->int,float,string,tuple

In [6]:
dict1={"name":"preeti","course":"python","address":"hyderabad"}
dict1["course"]

'python'

In [7]:
#replace values
dict1["course"]="c programming"
print(dict1)

{'name': 'preeti', 'course': 'c programming', 'address': 'hyderabad'}

In [8]:
#adding entry
dict1["college"]="Gitam"
print(dict1)

{'name': 'preeti', 'course': 'c programming', 'address': 'hyderabad', 'college': 'Gitam'}

In [9]:
#removing entry
del dict1["address"]
print(dict1)

{'name': 'preeti', 'course': 'c programming', 'college': 'Gitam'}

## Function:
### def name_of_the_function(arg list):
#### statements
#### return

In [12]:
def add(x,y):#func definition
    return x+y
print(add(10,20))#func calling
print(add(100,200))

30
300

In [13]:
def square(x):
    return x*x
def cube(x):
    return square(x)*x
print(cube(3))

27